#wrapper
{
    position: relative;
    width: 1000px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

#controls
{
    width: 180px;
    float: left;
}

#messages
{
    clear: both;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title_choose
{
    width: 50%;
    float: left;
}

.title_choose a
{
    text-decoration: none;
}

.title_choose a:hover
{
    text-decoration: underline;
}

#choose_groups img
{
    margin-left: 10px;
}

#wrapper td
{
    vertical-align: top;
}

#more_option
{
    margin-left: -800px;
}

#more_option > div
{
    height: 400px;
    /*
     * jqGrid will handle it. Set it here make layout errors on Chrome
     * overflow-y: scroll;
     */
}

.selected_item /* selected items in more_options */
{
    font-weight: bold;
}

.input_number
{
    width: 80px;
}

/* indicates failure in jquery.validate */
.error
{
    color: red;
}

label.error,span.error
{
    margin-left: 10px;
}

.busy_img
{
    background-image: url('../images/fb_busy.gif');
    background-position: 10px center;
    background-repeat: no-repeat;
}
