body
{
    margin: 0px;
}

#titles
{
    float: left;
    width: 250px;
    overflow-y: scroll;
}

.title
{
    margin: 10px;
    padding: 3px;
    background-color: #00FFFF; /* Cyan */
    width: 200px;
    text-align: center;
    cursor: pointer;
}

.title:hover, .title.selected
{
    background-color: #00CED1; /* DarkTurquoise */
}

#controls
{
    margin-left: 250px;
    padding: 5px;
}

#texts
{
    height: 400px;
    font-size: 16px;
}

#caption
{
    font-size: 24px;
    font-weight: bold;
}

#img_ok, #img_error
{
    height: 32px;
    width: 32px;
    display: none;
    vertical-align: top;
}

#test_result
{
    /* inline-block: http://www.blabla.cn/css_kb/html_span_width_kb.html */
    display: inline-block;
    width: 400px;
}

.locked_title
{
    text-decoration: line-through;
}
